body{
  background-color: rgb(105, 102, 102);
}
.App{
  width: 100%;
  /*background-color: rgb(105, 102, 102);
*/  text-align: center;

}

.App h1,h2{
  color:rgb(144, 144, 151);
}

.card img{
  margin-top: 13px;
  width: 140px;
  height: 100px;
}

.cards{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 800px;
  margin: 0 auto;
}
.card{
  background-color: rgb(55, 58, 59);
  border-radius: 10%;
  /*background-color: rgb(210, 210, 231);*/
  width: 220px;
  height: 280px;
  margin: 0 auto;
}

.card h1,h2{
  font-size: 17px;
}

.card button{
  color: rgb(124, 124, 131);
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(193, 205, 206);
  border-style:solid;
  border-radius: 13px;
  width: 90px;
  height: 25px;
}